$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
.container {
    width: auto;
    max-width: 940px;
}

canvas {
  display: none;
}

body {
  background: #f0f0f0;
  font-size: 62.5%;
}

.video-container {
  max-width: 500px;
  padding: 10px;
  background: #fff;
  margin: 20px auto;
  -webkit-box-shadow: 0 0 10px -2px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px -2px rgba(0,0,0,0.3);

  video {
    width: 100%;
    height: auto;
  }
}

#preview {
  display: block;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}

#take-photo {
  display: block;
  max-width: 300px;
  font-size: 2em;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  text-align: center;
  border: 0;
  padding: 10px 20px;
  margin: 0 auto;
}
